<h2 mat-dialog-title>{{ movie.title }}</h2>
<mat-grid-list cols="2" rowHeight="3rem">
	<mat-grid-tile colspan="1" rowspan="10">
		<img mat-card-image [src]="movie.poster_path" [alt]="movie.title" />
	</mat-grid-tile>

	<mat-grid-tile colspan="1" rowspan="10">
		<mat-dialog-content>
			<p class="mat-subheading-2">{{ movie.overview }}</p>

			<p>
				Release date:
				<strong class="mat-body-strong">{{ movie.release_date | date }}</strong>
			</p>
			<p>
				Budget:
				<strong class="mat-body-strong">{{ movie.revenue | currency }}</strong>
			</p>
			<p>
				Spoken languages:
				<strong class="mat-body-strong">
					<ng-container *ngFor="let language of movie.spoken_languages, let i = index">
						{{ language.name | commaSeparated: i===0 }}
					</ng-container>
				</strong>
			</p>
			<p>
				Rated with
				<strong class="mat-body-strong">{{ movie.vote_average }}/10</strong>
				stars based on 
				<strong class="mat-body-strong">{{ movie.vote_count }}</strong> votes.
			</p>
		</mat-dialog-content>
	</mat-grid-tile>
</mat-grid-list>
